<div id="footer-sedany">
<div class="footer">
<div class="footer-right"></div>
<div class="footer-mod"><h3> قريباً</h3><ul>
<li><a class="link-mig" target="_blank" href="الموقع"></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
</ul>
</div>
<div class="footer-mod"><h3> قريباً </h3><ul>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
</ul></div>
<div class="footer-mod"><h3> قريباً</h3><ul>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
</ul></div>
<div class="footer-mod"><h3> قريباً</h3><ul>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
</ul>
</div>
<div class="footer-mod"><h3> قريباً </h3>
<ul>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
<li><a class="link-mig" target="_blank" href=""></a>   </li>
</ul>
</div>
<div class="footer-left"></div>
</div>
</div>
