<div id="hader-sedany">
<div class="hader">
<div class="hd1">
<ul>
<li><a class="link-mig" href='index.php'> القران الكريم    </a></li>
<li><a class="link-mig" href='alla7.php'>   </a></li>
<li><a class="link-mig" href='7tsmin.php'>     </a></li>
<li><a class="link-mig" href='Do3a.php'>    </a></li>
<li><a class="link-mig" href='files.php'>     </a></li>
<li><a class="link-mig" href='vg.php'>    </a></li>
<li><a class="link-mig" href='vip.php'>     </a></li>
<li><a href='contact.php' class='link1'>   </a></li>
</ul>
</div>
<div class="hd2">
<div class="hd2-log"></div>
<div class="wow">
<a class="l1"  href="rss.php" >   </a>
<a class="l2" target="_blank"  href="" >   </a>
<a class="l3" target="_blank" href="" >   </a>
<a class="l4" target="_blank" href="" >   </a>
</div>
</div>
</div>
</div>
<div class="hd3">
<?=$linkhd;?>
</div>
